/* main.css */


/* @import "vendors/reset.css"; */

@import "vendors/normalize.css";

/* typography */

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Main Navigation */

nav a {
    color: #F00;
}

nav a:visited {
    color: #F0F;
}

nav a:hover {
    color: #00F;
}